@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-width: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 376px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  font-family: "Alata", sans-serif;
  position: relative;
}

.body-overlay {
  height: 100%;
  width: 100%;
  background-color: #777;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  display: none;
}

header {
  background-image: url("images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 376px; */
  width: 100%;
  height: 650px;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.desktop-hero {
  display: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 145px;
}

.logo img {
  width: 100%;
}

.hamburger-icon {
  cursor: pointer;
  padding-bottom: 5px;
}

.desktop-menu-links {
  display: none;
}

.mobile-menu {
  width: 100%;
  height: 650px;
  background: hsl(0, 0%, 0%);
  padding: 2.5rem 1.5rem;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-logo {
  width: 145px;
}

.mobile-menu-logo img {
  width: 100%;
}

.close-icon {
  cursor: pointer;
}

.mobile-menu ul {
  list-style: none;
  margin-top: 154px;
}

.mobile-menu li {
  margin-bottom: 1.5rem;
}

.mobile-menu a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.header-title {
  /* width: 100%; */
  width: 328px;
  border: 2px solid hsl(0, 0%, 100%);
  padding: 1.5rem 2rem 1rem 1.5rem;
  position: absolute;
  top: 226px;
}

.header-title h1 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

main {
  text-align: center;
  margin-bottom: 6rem;
}

.interactive-mobile {
  margin-bottom: 2.6rem;
  width: 325px;
}

.interactive-desktop {
  display: none;
}

/* main img {
  width: 100%;
} */

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

main p {
  color: hsl(0, 0%, 55%);
  font-size: 0.94rem;
  width: 275px;
  line-height: 1.5rem;
  margin: auto;
  margin-bottom: 6rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.creations {
  width: 325px;
  margin: auto;
}

.creation {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.01) 80%
  );
  z-index: 1;
}

.creation img {
  /* filter: brightness(75%); */
  vertical-align: bottom;
  width: 100%;
}

.creation-title {
  text-align: left;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  bottom: 18%;
  left: 6.4%;
  z-index: 2;
}

.desktop-creations {
  display: none;
}

.mobile-button {
  color: hsl(0, 0%, 0%);
  height: 2.6rem;
  width: 42.5%;
  background: none;
  border: 2px solid hsl(0, 0%, 41%);
  font: inherit;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  line-height: 2.6rem;
  margin-top: 0.6rem;
  cursor: pointer;
}

.mobile-button:active,
.mobile-button:hover {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
}

.desktop-button {
  display: none;
}

footer {
  background: hsl(0, 0%, 0%);
  text-align: center;
  padding: 3.5rem 2rem;
}

.logo-footer {
  margin: auto;
  width: 145px;
  margin-bottom: 2rem;
}

.logo-footer img {
  width: 100%;
}

footer ul {
  list-style: none;
}

.footer-links-container li {
  margin-bottom: 1.2rem;
}

footer a {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  text-decoration: none;
}

.icons-container {
  width: 46%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}

.icons-container a {
  display: block;
}

.icons-container img {
  cursor: pointer;
}

footer p {
  color: hsl(0, 0%, 55%);
  font-size: 0.9rem;
}

@media (min-width: 1220px) {
  body {
    width: 100%;
    max-width: 1440px;
  }
  header {
    background-image: none;
    padding: 0;
    height: 100%;
    margin-bottom: 9rem;
  }
  .desktop-hero {
    display: block;
  }
  .header-top {
    width: 78%;
    position: absolute;
    top: 10%;
    left: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-icon {
    display: none;
  }
  .logo {
    width: 200px;
  }
  .desktop-menu-links {
    width: 35%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 0.8rem;
  }
  .desktop-menu-links li {
    height: 2rem;
  }
  .desktop-menu-links a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 0.9rem;
  }
  .header-title {
    width: 45.6%;
    padding: 2.4rem 0rem 1.8rem 2.6rem;
    left: 11%;
  }
  .header-title h1 {
    font-size: 4.2rem;
  }
  main {
    text-align: left;
    width: 78%;
    margin: auto;
    position: relative;
  }
  .interactive-mobile {
    display: none;
  }
  .interactive-desktop {
    display: block;
    margin-bottom: 10rem;
  }
  .desktop-box {
    width: 49%;
    background: hsl(0, 0%, 100%);
    padding: 6rem 0 2rem 6.2rem;
    text-align: left;
    position: absolute;
    right: 0;
    top: 180px;
  }
  .desktop-box h2 {
    font-size: 2.8rem;
  }
  .desktop-box p {
    margin: 0;
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.8rem;
  }
  .desktop-creations-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .desktop-button {
    color: hsl(0, 0%, 0%);
    height: 2.6rem;
    width: 160px;
    background: none;
    border: 2px solid hsl(0, 0%, 41%);
    font: inherit;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 2.6rem;
    cursor: pointer;
    display: block;
  }
  .desktop-button:hover,
  .desktop-button:active {
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 0%);
  }
  .creations {
    display: none;
  }
  .desktop-creations {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.8rem;
    margin-bottom: 9rem;
  }
  .creation-title {
    font-size: 1.8rem;
    bottom: 8%;
    left: 16%;
  }
  .overlay {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.01) 80%
    );
  }
  .mobile-button {
    display: none;
  }
  footer {
    padding: 3rem 0 2.5rem 0;
  }
  .desktop-footer-container {
    width: 78%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 70px;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 70px;
  }
  .logo-footer {
    margin: 0;
  }
  .footer-links-container {
    margin-top: 1.4rem;
  }
  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
  }
  .footer-links-container li {
    margin: 0;
    height: 2rem;
  }
  .icons-container {
    width: 28%;
    margin: 0;
  }
  .icons-container {
    height: 2rem;
  }
  .icons-container li {
    height: 100%;
  }
  .twitter-icon {
    padding-top: 3px;
  }
  .underline-effect {
    background-image: linear-gradient(to bottom, #fff 100%, #fff 100%);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 24px 2px;
  }
}
